html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
opt,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
*,
:after,
:before {
  box-sizing: border-box;
}
body {
  margin: auto;
}
h1,
h2,
h3,
h4,
p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
p {
  margin-bottom: 0.5em;
  line-height: 1.5;
}
a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
}
img,
picture {
  max-width: 100%;
  height: auto;
}
picture {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
address {
  font-style: normal;
  text-decoration: none;
}
hr {
  border: none;
  width: 100%;
  height: 1px;
}
ul {
  list-style: none;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
@supports (-ms-ime-align: auto) {
  ul {
    margin-left: -40px;
  }
}
ol {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
blockquote {
  font-style: italic;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}
figure {
  display: block;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  margin-left: 0;
}
fieldset {
  padding: 0;
  border: none;
}
progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}
input:disabled {
  cursor: not-allowed;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
label {
  margin-bottom: 0.5em;
}
@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
._color.-white {
  color: hsl(0, 0%, 100%);
}
._color.-bgwhite {
  background-color: hsl(0, 0%, 100%);
}
._color.-black {
  color: hsl(0, 0%, 0%);
}
._color.-bgblack {
  background-color: hsl(0, 0%, 0%);
}
._flex {
  display: flex;
}
._flex.-wrap {
  flex-wrap: wrap;
}
._flex.-row {
  flex-direction: row;
}
._flex.-row.-reverse {
  flex-flow: row-reverse;
}
._flex.-column {
  flex-direction: column;
}
._flex.-column.-reverse {
  flex-flow: column-reverse;
}
._flex.-justifystart {
  justify-content: flex-start;
}
._flex.-justifyend {
  justify-content: flex-end;
}
._flex.-justifyspacebetween {
  justify-content: space-between;
}
._flex.-justifyspacearound {
  justify-content: space-around;
}
._flex.-justifyspacevenly {
  justify-content: space-evenly;
}
._flex.-justifycenter {
  justify-content: center;
}
._flex.-alignbaseline {
  align-items: baseline;
}
._flex.-aligncenter {
  align-items: center;
}
._flex.-alignend {
  align-items: flex-end;
}
._flex.-alignspacevenly {
  align-items: space-evenly;
}
._flex.-alignstartend {
  align-items: flex-start;
}
._flex.-alignselfstart {
  align-self: self-start;
}
._flex.-alignselfend {
  align-self: self-end;
}
._hidden.-always {
  display: none;
}
@media (max-width: 319px) {
  ._hidden.-lessthan.-xxsres {
    display: none;
  }
}
@media (max-width: 479px) {
  ._hidden.-lessthan.-xsres {
    display: none;
  }
}
@media (max-width: 639px) {
  ._hidden.-lessthan.-sres {
    display: none;
  }
}
@media (max-width: 959px) {
  ._hidden.-lessthan.-mres {
    display: none;
  }
}
@media (max-width: 1023px) {
  ._hidden.-lessthan.-lres {
    display: none;
  }
}
@media (max-width: 1979px) {
  ._hidden.-lessthan.-xlres {
    display: none;
  }
}
@media (min-width: 320px) {
  ._hidden.-morethan.-xxsres {
    display: none;
  }
}
@media (min-width: 480px) {
  ._hidden.-morethan.-xsres {
    display: none;
  }
}
@media (min-width: 640px) {
  ._hidden.-morethan.-sres {
    display: none;
  }
}
@media (min-width: 960px) {
  ._hidden.-morethan.-mres {
    display: none;
  }
}
@media (min-width: 1024px) {
  ._hidden.-morethan.-lres {
    display: none;
  }
}
@media (min-width: 1980px) {
  ._hidden.-morethan.-xlres {
    display: none;
  }
}
._margin.-auto {
  margin-left: auto;
  margin-right: auto;
}
._margin.-none {
  margin: 0;
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
::-webkit-scrollbar-thumb {
  width: inherit;
  background: hsl(0, 0%, 0%);
}
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 100%);
}
._text.-center {
  text-align: center;
}
._text.-right {
  text-align: right;
}
._text.-left {
  text-align: left;
}
._text.-justify {
  text-align: justify;
}
._text.-ultralight {
  font-weight: 200;
}
._text.-regular {
  font-weight: 400;
}
._text.-bold {
  font-weight: 700;
}
._text.-xxs {
  font-size: 0.5em;
}
._text.-xs {
  font-size: 0.75em;
}
._text.-s {
  font-size: 1em;
}
._text.-m {
  font-size: 1.5em;
}
._text.-l {
  font-size: 2em;
}
._text.-xl {
  font-size: 3em;
}
._text.-capitalize {
  text-transform: capitalize;
}
._text.-uppercase {
  text-transform: uppercase;
}
._text.-italic {
  font-style: italic;
}
._text.-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
